<div class="div-interface">
  <label for=""><%= element.name %></label>
  <label for=""><%= element.number %></label>
  <label for=""><%= element.age %></label>
  <label for=""><%= element.classname %></label>
</div>
